body {
    background: url("./img/matrix_rain.gif") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
    overflow: hidden; /* Disable scrolling */
}

a {
    color: greenyellow;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 22pt;
    margin-bottom: 0;
}

sub {
    font-size: 14pt;
    text-align: right;
}

p {
    font-size: 12pt;
}

.CenterBox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); /* Adjusting for header */
}

.Box {
    backdrop-filter: blur(5px);
    padding: 20px;
    border: 1px solid beige;
    background-color: rgba(128, 128, 128, 0.2);
    word-wrap: break-word;
    max-width: 90%;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Separating the heading and text sections */
.BoxHeading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Make sure this applies to heading only */
    margin-bottom: 10px;
}

.BoxHeading h1 {
    margin-right: auto; /* Ensures title is left-aligned */
}

.BoxHeading sub {
    margin-left: 20px;
}

.BoxText {
    margin-top: 10px;
    text-align: left; /* Make sure text is aligned left */
}

.BoxLinks {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.BoxLinks img {
    height: 1cm;
    margin: 5px;
}

/* Titlebar CSS */
.Titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px; /* Added padding to the titlebar */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.Navbar li {
    position: relative;
    padding: 10px;
}

.Navbar li a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.Navbar .Dropdown {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    list-style: none;
    top: 30px;
}

.Navbar li:hover .Dropdown {
    display: block;
}

.Navbar .Dropdown li {
    padding: 5px 0;
}


/* Responsive CSS */
@media (max-width: 768px) {
    h1 {
        font-size: 18pt;
    }

    sub {
        font-size: 12pt;
    }

    p {
        font-size: 10pt;
    }

    .Box {
        padding: 15px;
    }

    .BoxHeading {
        flex-direction: column;
        align-items: flex-start;
    }

    .BoxHeading sub {
        margin-top: 5px;
        text-align: left;
    }

    .BoxLinks img {
        height: 0.8cm;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }
}
